body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media screen and (max-width: 600px) {
  table {
    border: 1px solid #ddd;
  }

  th,
  td {
    border: none;
    padding: 8px;
    display: block;
    text-align: left;
  }

  th {
    background-color: #4caf50;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f4f4f4;
  }
}
